{{ define "comp_admin_questions" }}
<main class="main">
  <div class="container">
    <div class="content__header"><h1>Все вопросы</h1></div>
    <div class="content">
      <div class="filter"></div>
      <div class="question_items" id="question_items"></div>
    </div>
  </div>
</main>
{{ end }}
