input {
  width: 100%;
  margin: 5px 0;
  padding: 8px;
}

input[type="search"] {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="submit"] {
  padding: 11px 0px;
  background: #01052b;
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
}

.burger-btn {
  cursor: pointer;
  width: 40px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.burger-btn span {
  display: block;
  background-color: rgb(255, 255, 255);
  width: 1.125em;
  height: 0.125em;
  font-size: 16px;
  line-height: 18px;
}

.burger-btn > span:nth-child(2) {
  margin: 3px;
}

.radio {
  display: flex;
  width: min-content;
}

.radio > input {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.row_inputs {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.row_inputs input {
  width: 49%;
}

.row_center {
  display: flex;
  justify-content: center;
}

.row_center .radio {
  margin: 20px 15px;
}

textarea {
  margin: 5px 0;
  padding: 5px;
  font-size: 14px;
}

.btn {
  padding: 11px 0px;
  background: #01052b;
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
}

.error_input {
  box-shadow: 0 0 0 2px red;
}

.notif-error {
  color: rgb(151, 0, 0);
}

.notif-successfully {
  color: rgb(0, 160, 0);
}
