{{ define "chunk_aside" }}
<aside class="aside_content">
  <section class="aside_content__section">
    <button class="dark_blue" id="version_for_visually-impaired">Версия для слабовидящих</button>
  </section>

  <section class="aside_content__section">
    <h2>Обратная связь</h2>
    <a href="https://urgt66.ru/?page_id=2071">
      <img src="./static/images/gosuslugi_feedback.png" alt="Обратная связь" />
    </a>
  </section>

  <section class="aside_content__section">
    <h2>Онлайн-Абитуриент</h2>
    <a href="http://priem.egov66.ru/">
      <img src="./static/images/online_abiturient.png" alt="Онлайн-Абитуриент" />
    </a>
  </section>

  <section class="aside_content__section">
    <figure>
      <a href="https://vk.com/urgt_ekb">
        <img src="./static/images/vk_subscribe.png" alt="Подписаться ВКонтакте" />
      </a>
    </figure>
  </section>

  <section class="aside_content__section">
    <h2>Национальные проекты России</h2>
    <a href="https://urgt66.ru/?page_id=3559">
      <img src="./static/images/national_project_of_russia.jpg" alt="Национальные проекты России" />
    </a>
  </section>

  <section class="aside_content__section">
    <figure>
      <a href="https://urgt66.ru/?page_id=3002">
        <img src="./static/images/big_turn.png" alt="Большая перемена" />
      </a>
    </figure>
  </section>

  <section class="aside_content__section">
    <figure>
      <a href="https://sferum.ru/?p=start">
        <img src="./static/images/sferum.png" alt="Дистанционное обучение" />
      </a>
      <figcaption>Дистанционное обучение</figcaption>
    </figure>
  </section>

  <section class="aside_content__section">
    <figure>
      <img src="./static/images/review_busgov.jpg" alt="Отзыв на сайте bus.gov.ru" />
      <figcaption>
        <a href="https://urgt66.ru/?page_id=3153">Оставьте свой отзыв на сайте bus.gov.ru</a>
      </figcaption>
    </figure>
  </section>

  <section class="aside_content__section">
    <figure>
      <a href="https://urgt66.ru/?page_id=2417">
        <img src="./static/images/contests.jpeg" alt="Конкурсы" />
      </a>
    </figure>
  </section>

  <section class="aside_content__section">
    <form action="https://urgt66.ru/" method="get" role="search">
      <input type="search" placeholder="Поиск..." />
      <input class="dark_blue" type="submit" value="Поиск" />
    </form>
  </section>
</aside>
{{ end }}
