{{ define "chunk_footer" }}
<footer class="footer">
  <div class="container footer__info">
    <p>© 2023 <a href="https://urgt66.ru/">ГАПОУ СО «УРАЛЬСКИЙ ЖЕЛЕЗНОДОРОЖНЫЙ ТЕХНИКУМ»</a></p>
    <p>
      <a href="https://wordpress.org/">Proudly powered by WordPress</a> <span class="separator">|</span> Theme: x-blog
      by <a href="https://wpthemespace.com/product/x-blog">wpthemespace.com</a>
    </p>
  </div>
</footer>
{{ end }}
