{{ define "chunk_header" }}
<header class="header">
  <!-- LOGO -->
  <div class="logo container">
    <a href="https://urgt66.ru/">
      <img src="./static/images/logo_urgt_top.png" alt="ГАПОУ СО «УРАЛЬСКИЙ ЖЕЛЕЗНОДОРОЖНЫЙ ТЕХНИКУМ»" />
    </a>
  </div>

  <!-- NAVBAR START -->
  <nav class="navigation dark_blue">
    <div class="burger-nav container">
      <button class="burger-btn"><span></span><span></span><span></span></button>
    </div>
    <ul class="navigation__list_items container" id="navigation">
      <li class="custom_list navigation__list_item">
        <a href="https://urgt66.ru/?page_id=41"
          >Сведения об образовательной организации<span class="adaptive_arrow" data-id="1"></span
        ></a>
        <ul class="sub_navigation__list_items dark_light_blue" data-for="1">
          <li><a href="https://urgt66.ru/?page_id=38">Основные сведения</a></li>
          <li>
            <a href="https://urgt66.ru/?page_id=29">Структура и органы управления образовательной организацией</a>
          </li>
          <li><a href="https://urgt66.ru/?page_id=71">Документы</a></li>
          <li><a href="https://urgt66.ru/?page_id=73">Образование</a></li>
          <li><a href="https://urgt66.ru/?page_id=78">Образовательные стандарты и требования</a></li>
          <li>
            <a href="https://urgt66.ru/?page_id=80">Руководство. Педагогический (научно-педагогический) состав</a>
          </li>
          <li>
            <a href="https://urgt66.ru/?page_id=84"
              >Материально-техническое обеспечение и оснащенность образовательного процесса</a
            >
          </li>
          <li><a href="https://urgt66.ru/?page_id=86">Стипендии и иные виды материальной поддержки</a></li>
          <li><a href="https://urgt66.ru/?page_id=88">Платные образовательные услуги</a></li>
          <li><a href="https://urgt66.ru/?page_id=90">Финансово-хозяйственная деятельность</a></li>
          <li><a href="https://urgt66.ru/?page_id=92">Вакантные места для приема (перевода)</a></li>
          <li><a href="https://urgt66.ru/?page_id=141">Доступная среда</a></li>
          <li><a href="https://urgt66.ru/?page_id=145">Международное сотрудничество</a></li>
        </ul>
      </li>
      <li class="navigation__list_item">
        <a href="https://urgt66.ru/?page_id=3704">Абитуриенту</a>
      </li>
      <li class="custom_list navigation__list_item">
        <a href="https://urgt66.ru/?page_id=326">Студентам<span class="adaptive_arrow" data-id="2"></span></a>
        <ul class="sub_navigation__list_items dark_light_blue" data-for="2">
          <li class="sub_nested_nav_list">
            <a href="https://urgt66.ru/?page_id=462"
              >Очное отделение <span class="adaptive_arrow" data-id="3"></span
            ></a>
            <ul class="sub_navigation__list_items dark_light_blue" data-for="3">
              <li><a href="">Расписание очного отделения</a></li>
            </ul>
          </li>
          <li class="sub_nested_nav_list">
            <a href="https://urgt66.ru/?page_id=341"
              >Заочное отделение<span class="adaptive_arrow" data-id="4"></span
            ></a>
            <ul class="sub_navigation__list_items dark_light_blue" data-for="4">
              <li><a href="">Расписание заочного отделения</a></li>
            </ul>
          </li>
          <li><a href="https://urgt66.ru/?page_id=808">Многофункциональный центр прикладных квалификаций</a></li>
          <li><a href="https://urgt66.ru/?page_id=474">Дистанционное обучение</a></li>
          <li><a href="https://urgt66.ru/?page_id=545">Государственная итоговая аттестация</a></li>
          <li><a href="https://urgt66.ru/?page_id=537">Методические рекомендации</a></li>
          <li>
            <a href="https://urgt66.ru/?page_id=754">Реквизиты на оплату обучения и проживания в общежитии</a>
          </li>
          <li><a href="https://urgt66.ru/?page_id=1949">Центр содействия трудоустройству выпускников</a></li>
          <li><a href="https://urgt66.ru/?page_id=2177">Профобразование</a></li>
          <li><a href="https://urgt66.ru/?page_id=2207">Комплексная безопасность</a></li>
          <li><a href="https://urgt66.ru/?page_id=3286">Студенческий спортивный клуб</a></li>
        </ul>
      </li>
      <li class="navigation__list_item"><a href="https://urgt66.ru/?page_id=2064">Родителям</a></li>
      <li class="navigation__list_item"><a href="https://urgt66.ru/?page_id=320">Вакансии</a></li>
      <li class="custom_list navigation__list_item">
        <a href="https://urgt66.ru/?page_id=317"
          >Противодействие коррупции<span class="adaptive_arrow" data-id="5"></span
        ></a>
        <ul class="sub_navigation__list_items dark_light_blue" data-for="5">
          <li>
            <a href="https://urgt66.ru/?page_id=1351">Нормативно-правовые акты в сфере противодействия коррупции</a>
          </li>
          <li>
            <a href="https://urgt66.ru/?page_id=1423"
              >Планы работы Комиссии по противодействию коррупции Техникума (по годам)</a
            >
          </li>
          <li>
            <a href="https://urgt66.ru/?page_id=1427"
              >Протоколы (выписки из протоколов) комиссии по противодействию коррупции в Техникуме</a
            >
          </li>
          <li>
            <a href="https://urgt66.ru/?page_id=1430">Планы работы Техникума по противодействию коррупции (по годам)</a>
          </li>
          <li>
            <a href="https://urgt66.ru/?page_id=1433"
              >Отчеты об исполнении планов работы Техникума по противодействию коррупции</a
            >
          </li>
          <li>
            <a href="https://urgt66.ru/?page_id=1437"
              >Локальные акты, регламентирующие антикоррупционную деятельность в Техникуме</a
            >
          </li>
          <li><a href="https://urgt66.ru/?page_id=1207">Антикоррупционное просвещение</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <!-- NAVBAR END -->
</header>
{{ end }}
